.posts-block, .users-block, .category-block, .comments-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.post, .user, .category {
    width: min(50rem, 100%);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.image {
    width: 300px;
}

.body {
    width: 100%;
    text-align: left;
    text-indent: 1.5rem;
}

.decision {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1rem 0;
    gap: .5rem;
}

.preview {
    margin-bottom: .5rem;
}