* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik";
  color: var(--font-color);
}

body::-webkit-scrollbar {
  width: 0.9rem;
  background-color: #633318;
}

body::-webkit-scrollbar-thumb {
  background-color: #ad5c2dc0;
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb:active {
  background-color: var(--accent-color);
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 10%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: var(--background-color);
  border-bottom: 3px solid var(--accent-color);
}

.logo,
.user {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__image {
  max-width: 100%;
  cursor: pointer;
}

.circle {
  max-height: 50px;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.buttons {
  position: absolute;
  top: 5rem;
  right: 2rem;
  z-index: 5;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--background-color);
  box-shadow: 1px 3px 10px 10px #000000;
  border-radius: 5px;
}

.main {
  flex: 1 0 auto;
  width: 100%;
  min-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 0.5rem;
}

.nav {
  position: absolute;
  right: 0;
  top: 10%;
  width: 15%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 2rem 0;
  border-left: 2px solid var(--accent-color);
  background-color: var(--background-color);
  overflow-y: auto;
  direction: rtl;
}

.page-nav {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.pages {
  color: var(--font-color);
  text-align: center;
  font-size: 0.9rem;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

.pages:hover {
  color: var(--accent-color);
}

.nav::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #633318;
}

.nav::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__name {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: var(--accent-color);
}

.nav__link {
  color: var(--font-color);
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

.nav__link:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .header {
    padding: 0.5rem 0.2rem;
  }
}
